img{
  
  height: 300px;
  width: 300px;
 text-align: center;
}



h2{
  color: red;
  font-size: 50px;
  text-align: center;
}

.main{
  text-align: center;
}

.description{
color: red;
font-size: larger;
}
a{
  font-size: 30px;
  color: black
}
